/*Banner*/
.banner {
    display: flex;
    flex-wrap: nowrap;
    background-color: antiquewhite;
    border: solid 5px black;
    padding: 10px;
    margin: 25px 25px 10px 25px;
}

.banner > img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    border: solid 5px black;
    margin: 5px;
}

.banner > h1 {
    text-align: center;
    align-self: center;
    color: darkslategray;
    font-size: 4.96vw;
    width: 75%;
}

/*Navbar*/
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    border: solid 5px black;
    padding: 10px;
    margin: 10px 25px 10px 25px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    font-size: 1.984vw;
    padding: 5px 20px;
    text-decoration: none;
    color: blue;
}

/*Container for sidebar and content*/
.main {
    display: flex;
    height: auto;
}

/*Sidebar*/
.sidebar {
    float: left;
    min-width: 25%;
    max-width: 25%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 5px black;
    padding: 10px;
    margin: 25px 10px 25px 25px;
}

.sidebar textarea {
    max-width: 100%;
}

.sidebar iframe {
    width: 100%;
}

/*Content*/
.content {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    background-color: antiquewhite;
    border: solid 5px black;
    padding: 10px;
    margin: 25px 25px 25px 10px;
}

.content p {
    margin: 5px;
}

/*Footer*/
footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: antiquewhite;
    border: solid 5px black;
    padding: 1px 1px 1px 5px;
    margin: 10px 25px 25px 25px;
    font-size: 1.058vw;
    min-width: 90%;
}

.copyright {
    width: 15%;
    color: darkslategray;
    margin-top: 15px;
 }

.socials {
    width: 85%;
    align-self: center;
    text-align: right;
}

.socials ul {
    list-style-type: none;
    margin: 0;

}

.socials li {
    display: inline-block;
}

.socials li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: blue;
}